<<<<<<< HEAD
$light:         rgb(0, 70, 70);
$body-bg:       rgb(0, 70, 70);
$navbar-dark-active-color:          blue;
=======
$light:     rgb(0, 70, 70);
$body-bg:   rgb(0, 70, 70);
>>>>>>> c64d1af8bb5057c66ca7f8eca7738d7b5b64a22a

@import "../node_modules/bootstrap/scss/bootstrap";